@using ATMExercise.Models.ViewModels;
@model OperacionViewModel
@{
    ViewData["Title"] = "Ingreso de PIN";
}
<h1>@ViewData["Title"]</h1>

<p>Por favor ingrese el PIN de la tarjeta @Model.NumeroTarjeta</p>
